body {
    background-color: beige;
}

h1 {
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    text-align: center;
}

.container form .btn {
    width: 100%;
    background-color: cadetblue;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s;
}